body {
    background-color: #1f1f1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    background-color: #2B2B2B;
    min-height: 64px;
    border: 1px solid #2f2f2f ; /* debug */
    color: #FFFFFF;
    border-radius: 12px;
    padding-left: 6px;
    /* padding: 12px; */
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
}
#left-group {
    /* border: 1px solid red; debug */
    display: flex;
    align-items: center;
    padding-left: 4px;
    
}

.header>div>a>img {
    height: 24px;
    padding-left: 14px;
    padding-right: 14px;
}

#right-group {
    /* border: 1px solid #2f2f2f; */
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 2px;
}
#links, #discord {
    display:flex;
    align-items: center;
}

#links>a {
    color: white;
    transition: all .2s ease;
    padding: 20px;
    border: 0px solid black;
    border-radius: 32px;
    font-size: 1.2rem;
    text-decoration: none;
}

#links>a:hover {
    background-color: #2f2f2f;
    opacity: 0.3;
}

#links>img{
    height: 48px;
    padding-right: 6px;
    filter: invert(100%) hue-rotate(180deg); /* stupid hack but works lmao*/
}

.home {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.mainbody {
    display: flex;
}
.warn{
    color: red;
    font-weight: bold;
}
.note {
    color: yellow;
    font-style: italic;
    display: inline;
}
