body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.documentation {
  display: flex;
}
.warn{
  color: red;
  font-weight: bold;
}

.note {
  color: yellow;
  font-style: italic;
  display: inline;
}

.note-wrapper {
  display: none;

}

.note:hover + .note-wrapper {
  display: inline;
  font-style: italic;
  color: yellow;
  font-size: 10px;
}
.sidebar {
  width: 20%;
  background-color: #1e1e1e;
  color: #ff0000;
  padding: 1rem;
  height: 100vh;
  position: fixed; 
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6666;
}

.class-item {
  margin-bottom: 1rem;
}

.class-button,
.function-button {
  background: none;
  color: #ff0000;
  border: 1px solid #ff0000;
  margin: 0.2rem 0;
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.class-button.active {
  background-color: #ca0d1f;
  color: #000;
}

.function-list {
  margin-left: 1rem;
}

.content {
  margin-left: 20%;
  padding: 2rem;
  width: 80%; 
  overflow: hidden;
}

.function-section {
  margin-bottom: 2rem;
}



table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 1rem;
  margin-bottom: 1rem;
}

th {
  text-align: left;
  padding: 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #333; 
  border-bottom: 1px solid #555; 
}


td {
  padding: 0.5rem;
  border-bottom: 1px solid #555; 
  color: #fff;
}

tr:nth-child(even) {
  background-color: #1e1e1e;
}

